---
import Layout from "@layouts/Layout.astro";

const pageTitle =
  "Desperte sua consciência com o Clube da Transição!";

const pageDescription =
  "Junte-se ao Clube da Transição para autoconhecimento, sustentabilidade e " +
  "práticas regenerativas. Seja um cofundador e contribua para um futuro " +
  "mais consciente.";

const canonicalUrl = new URL(Astro.url.pathname, Astro.site);
---

<Layout
  pageTitle={pageTitle}
  pageDescription={pageDescription}
  canonicalUrl={canonicalUrl}
>
  <main slot="main">
    <h1>Desperte sua consciência com o Clube da Transição!</h1>
  </main>
</Layout>
