<footer class="flex flex-wrap gap-y-2 justify-center items-center bg-brand-mud p-2.5 h-14 md:h-20">
  <span class="text-xs text-white text-center md:text-sm">
    Copyright &copy; 2024 Ecovida Pangeia.&nbsp;
  </span>
  <span class="text-xs text-white text-center md:text-sm">
    Todos os direitos reservados
  </span>
</footer>
