<footer class="flex justify-center items-center bg-brand-mud h-14 md:h-20">
  <span class="text-sm text-white">
    Copyright &copy; 2024 Ecovida Pangeia. Todos os direitos reservados
  </span>
</footer>
