---
import { Schema } from "astro-seo-schema";

import Footer from "@components/Footer.astro";

interface Props {
  pageTitle: string;
  pageDescription: string;
  canonicalUrl: URL;
}

const { pageTitle, pageDescription, canonicalUrl } = Astro.props;
---

<html lang="pt-br">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <meta charset="utf-8" />
    <link rel="canonical" href={canonicalUrl} />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
      href={
        "https://fonts.googleapis.com/css2?" +
        "family=Montserrat:ital,wght@0,100..900;1,100..900&" +
        "family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;" +
        "1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      }
      rel="stylesheet"
      >
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={pageDescription} />
    <title>{pageTitle}</title>
    <Schema
      item={{
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "Clube da Transição",
        "url": "https://ecovidapangeia.com/",
        "logo": "https://ecovidapangeia.com/logo-pangeia.webp",
        "sameAs": [
          "https://www.instagram.com/ecovidapangeia/",
        ],
        "description": "Junte-se ao Clube da Transição para " + 
        "autoconhecimento, sustentabilidade e práticas regenerativas. " + 
        "Seja um cofundador e contribua para um futuro mais consciente.",
      }}
    />
  </head>
  <body class="font-roboto">
    <div class="min-h-[100dvh] grid grid-rows-[1fr_auto]">
      <slot name="main" />
      <Footer />
    </div>
  </body>
</html>